<%include static.ejs %>
<div class="maxHeight">
            <div class="sidePanelAdmin">
                <!-- UPDATE -->
                <h2 style="text-align: center; color:white">Update</h2>
                <form action="/update" method="POST">
                    <p>Specimen ID</p>
                    <input  type="text" class="form-control" name="updateSID" id="updateSID" placeholder="Specimen ID" required>
                    <p>Old Common Name</p>
                    <input  type="text" class="form-control" name="nCName" id="oCName" placeholder="Old Common Name" required>
                    <p>New Common Name</p>
                    <input  type="text" class="form-control" name="nCName" id="nCName" placeholder="New Common Name" required>
                    <p>Old Scientific Name</p>
                    <input type="text" class="form-control" name="oSName" id="oSName" placeholder="Old Scientific Name" required>
                    <p>New Scientific Name</p>
                    <input  type="text" class="form-control" name="nSName" id="nSName" placeholder="New Scientific Name" required>
                    <button class="formDropdown">Submit</button>
                </form>

                <!-- INSERT -->
                <h2 style="text-align: center; color:white">Insert</h2>
                <form action="/insert" method="POST">
                    <p>Common Name</p>
                    <input  type="text" class="form-control" name="cName" id="cName" placeholder="Common Name" required>
                    <p>Scientific Name</p>
                    <input  type="text" class="form-control" name="sName" id="sName" placeholder="Scientific Name" required>
                    <p>Collection</p>
                    <select class="formDropdown">
                        <option value="first">first</option>
                        <option value="last">last</option>
                    </select>
                    <p>Institution</p>
                    <select class="formDropdown">
                        <option value="first">first</option>
                        <option value="last">last</option>
                    </select>
                    <p>Habitat</p>
                    <select class="formDropdown">
                        <option value="first">first</option>
                        <option value="last">last</option>
                    </select>
                    <p>Storage</p>
                    <select class="formDropdown">
                        <option value="first">first</option>
                        <option value="last">last</option>
                    </select>
                    <p>Specimen Type</p>
                    <select id="specimenType" class="formDropdown">
                        <option value="None">None</option>
                        <option value="Animal">Animal</option>
                        <option value="Plant">Plant</option>
                    </select>
                    <script>
                        let selectedType = document.getElementById("specimenType").onchange = function (oEvent) {
                            let element = document.getElementById("specimenType");
                            let selectedIndex = element.selectedIndex;
                            let selectedType = element[selectedIndex].value;
                            let parentElement = document.getElementById("specimenType").parentElement;
                            if (selectedType === "Animal") {
                                let plantDiv = document.getElementById("PlantDiv");
                                if (plantDiv !== null) {
                                    plantDiv.remove();
                                }

                                let animalDiv = document.createElement("div");
                                animalDiv.id = "animalDiv";
                                parentElement.insertBefore(animalDiv, document.getElementById("insertButton"));

                                let pTypeEater = document.createElement("p");
                                pTypeEater.appendChild(document.createTextNode("Type of eater"));
                                animalDiv.appendChild(pTypeEater);

                                // Eater DropDown
                                let eaters = ["Herbivore", "Carnivore", "Omnivore"];
                                let sEater = document.createElement("select");
                                sEater.className = "formDropdown";

                                eaters.forEach((option) => {
                                    let optElement =  document.createElement("option");
                                    optElement.value = option;
                                    optElement.append(document.createTextNode(option));
                                    sEater.appendChild(optElement);
                                });
                                animalDiv.appendChild(sEater);

                                // Locomotion Title
                                let pLocomotion = document.createElement("p");
                                pLocomotion.appendChild(document.createTextNode("Locomotion"));
                                animalDiv.appendChild(pLocomotion);

                                // Locomotion Input box
                                let iLocomotion = document.createElement("input");
                                iLocomotion.type = "text";
                                iLocomotion.className = "form-control";
                                iLocomotion.id = "locomotion";
                                iLocomotion.name = "locomotion";
                                animalDiv.appendChild(iLocomotion);

                                // Phylum Title 
                                let pPhylum = document.createElement("p");
                                pPhylum.appendChild(document.createTextNode("Animal phylum scientific name"));
                                animalDiv.appendChild(pPhylum);

                                // Phylum Dropdown
                                let phylumOptions = ["Porifera","Cnidaria", "Platyhelmintha",
                                                    "Annelida", "Mollusca","Arthropoda", "Chordata", "Fish", "Amphibian",
                                                    "Reptiles", "Birds","Mammals" ];

                                let sPhylum = document.createElement("select");
                                sPhylum.className = "formDropdown";
                                phylumOptions.forEach((option) => {
                                    let optionElement =  document.createElement("option");
                                    optionElement.value = option;
                                    optionElement.append(document.createTextNode(option));
                                    sPhylum.appendChild(optionElement);
                                });
                                animalDiv.appendChild(sPhylum);

                            } else {
                                // Cleanup Animal Div if needed
                                let animalDiv = document.getElementById("animalDiv");
                                if (animalDiv !== null) {
                                    animalDiv.remove();
                                }

                                let plantDiv = document.createElement("div");
                                plantDiv.id = "PlantDiv";
                                parentElement.insertBefore(plantDiv, document.getElementById("insertButton"));

                                // Plant Attribute Checkbox
                                let dAttribute = document.createElement("div");
                                dAttribute.className = "checkboxContainer";

                                let iHasLeaves = document.createElement("input");
                                iHasLeaves.type = "checkbox";
                                iHasLeaves.name = "leaves";
                                iHasLeaves.value = "hasLeaves";
                                dAttribute.appendChild(iHasLeaves);
                                dAttribute.appendChild(document.createTextNode("Leaves"));

                                let iHasStems = document.createElement("input");
                                iHasStems.type = "checkbox";
                                iHasStems.name = "stems";
                                iHasStems.value = "hasStems";
                                dAttribute.appendChild(iHasStems);
                                dAttribute.appendChild(document.createTextNode("Stems"));

                                plantDiv.appendChild(dAttribute);

                                // Scientific Title
                                let pPlantSci = document.createElement("p");
                                pPlantSci.appendChild(document.createTextNode("Plant phylum scientific name"));
                                plantDiv.appendChild(pPlantSci);

                                // Plant Scientific Name DropDown
                                let plantSciNames = ["Bryophyta", "Filicinophyta", "Coniferophyta", "Angiospermophyta"];
                                let sPlantSci = document.createElement("select");
                                sPlantSci.className = "formDropdown";
                                plantSciNames.forEach(element => {
                                    let optionElement =  document.createElement("option");
                                    optionElement.value = element;
                                    optionElement.append(document.createTextNode(element));
                                    sPlantSci.appendChild(optionElement);
                                });
                                plantDiv.appendChild(sPlantSci);
                            }
                        }
                    </script>
                    <button id= "insertButton" class="formDropdown">Insert</button>
                </form>

                <!-- DELETE -->
                <h2 style="text-align: center; color:white">Delete</h2>
                <form action="/delete" method="POST">
                    <p>Specimen ID</p>
                    <input  type="text" class="form-control" name="deleteSID" id="deleteSID" placeholder="Specimen ID" required>
                    <button class="formDropdown">Delete</button>
                </form>
            </div>
            <div class="mainTable">
                <table style="width:100%" class="table-bordered table">
                    <thead>
                        <tr>
                            <% headers.forEach((heading) => { %>
                                <th scope="col"><%=heading%></th>
                            <%})%>
                        </tr>
                    </thead>
                    <tbody>
                            <% rows.forEach((row) => { %>
                                <tr>
                                    <% headers.forEach((heading) => { %>
                                        <td><%=row[heading]%></td>
                                    <%})%>
                                </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
        </div>
        </body>
</html>