<%include static.ejs %>
<div class="maxHeight">
            <div class="sidePanel">
                <h2 style="text-align: center; color:white">Filter</h2>
                <form action="/submit" method="POST">
                    <p>Collection</p>
                    <select class="formDropdown">
                        <option value="first">first</option>
                        <option value="last">last</option>
                    </select>
                    <p>Specimen Type</p>
                    <select class="formDropdown">
                        <option value="all">All</option>
                        <option value="animal">Animal</option>
                        <option value="plant">Plant</option>
                    </select>
                    <p>Institution</p>
                    <select class="formDropdown">
                        <option value="first">first</option>
                        <option value="last">last</option>
                    </select>
                    <p>Habitat</p>
                    <select class="formDropdown">
                        <option value="first">first</option>
                        <option value="last">last</option>
                    </select>
                    <div class="checkboxContainer">
                            <input type="checkbox" name="IDK1" value = "IDK"> ID<br>
                            <input type="checkbox" name="IDK2" value = "IDK"> ID<br>
                            <input type="checkbox" name="IDK3" value = "IDK"> ID<br>
                            <input type="checkbox" name="IDK4" value = "IDK"> ID<br>
                            <input type="checkbox" name="IDK5" value = "IDK"> ID<br>
                            <input type="checkbox" name="IDK6" value = "IDK"> ID<br>
                            <input type="checkbox" name="IDK7" value = "IDK"> ID<br>
                            <input type="checkbox" name="IDK8" value = "IDK"> ID<br>
                    </div>
                    <button class="formDropdown">Submit</button>
                </form>
            </div>
            <div class="mainTable">
                <table style="width:100%" class="table-bordered table">
                    <thead>
                        <tr>
                            <% headers.forEach((heading) => { %>
                                <th scope="col"><%=heading%></th>
                            <%})%>
                        </tr>
                    </thead>
                    <tbody>
                            <% rows.forEach((row) => { %>
                                <tr>
                                    <% headers.forEach((heading) => { %>
                                        <td><%=row[heading]%></td>
                                    <%})%>
                                </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
        </div>
        </body>
</html>