<%include static.ejs %>
<div class="maxHeight">
            <div class="sidePanel">
                <h2 style="text-align: center; color:white">Filter</h2>
                <form action="/submit" method="POST">
                    <p>Collection</p>
                    <select name="collectionName" class="formDropdown">
                            <option value="All">All</option>
                            <option value="Fish Collection">Fish Collection</option>
                            <option value="Insect Collection">Insect Collection</option>
                            <option value="Marine Collection">Marine Collection</option>
                            <option value="Plant Collection">Plant Collection</option>
                            <option value="Soil Collection">Soil Collection</option>
                    </select>
                    <p>Specimen Type</p>
                    <select class="formDropdown">
                        <option value="All">All</option>
                        <option value="Animal">Animal</option>
                        <option value="Plant">Plant</option>
                    </select>
                    <p>Institution</p>
                    <select name="institutionName" class="formDropdown">
                            <option value="All">All</option>
                            <option value="SFU">SFU</option>
                            <option value="UBC">UBC</option>
                            <option value="UofAlberta">UofAlberta</option>
                            <option value="UVIC">UVIC</option>
                            <option value="WWF">WWF</option>
                    </select>
                    <p>Habitat</p>
                    <select name="habitatName" class="formDropdown">
                            <option value="All">All</option>
                            <option value="desert">desert</option>
                            <option value="freshwater">freshwater</option>
                            <option value="tropical rainforest">tropical rainforest</option>
                            <option value="temperate rainforest">temperate rainforest</option>
                            <option value="tundra">tundra</option>
                    </select>
                    <div class="checkboxContainer">
                            <input type="checkbox" name="selectSpecimenID" value = "SpecimenID"> SpecimenID<br>
                            <input type="checkbox" name="selectCommonName" value = "CommonName"> Common Name<br>
                            <input type="checkbox" name="selectScientificName" value = "ScientificName"> Scientific Name<br>
                            <input type="checkbox" name="selectInstitution" value = "Institution"> Institution<br>
                            <input type="checkbox" name="selectInstitutionAddress" value = "InstitutionAddress"> Institution Address<br>
                            <input type="checkbox" name="selectInstitutionPhone" value = "InstitutionPhone"> Institution Phone<br>
                            <input type="checkbox" name="selectHabitatName" value = "Habitat"> Habitat<br>
                            <input type="checkbox" name="selectHabitatRegion" value = "HabitatRegion"> Habitat Region<br>
                            <input type="checkbox" name="selectRegionAvgPrecip" value = "RegionAvgPrecip"> Region Average Percipitation<br>
                            <input type="checkbox" name="selectRegionAvgTemp" value = "RegionAvgTemp"> Region Average Temperature<br>
                            <input type="checkbox" name="selectCollectionName" value = "Collection"> Collection<br>
                            <input type="checkbox" name="selectCurator" value = "Curator"> Curator<br>
                            <input type="checkbox" name="selectStorageRoom" value = "StorageRoom"> Storage Room<br>
                            <input type="checkbox" name="selectStorageContainerNumber" value = "StorageContainerNumber"> Storage Container Number<br>
                            <input type="checkbox" name="selectPhylum" value = "Phylum"> Phylum<br>
                    </div>
                    <button class="formDropdown">Submit</button>
                </form>
            </div>
            <div class="mainTable">
                <table style="width:100%" class="table-bordered table">
                    <thead>
                        <tr>
                            <% headers.forEach((heading) => { %>
                                <th scope="col"><%=heading%></th>
                            <%})%>
                        </tr>
                    </thead>
                    <tbody>
                            <% rows.forEach((row) => { %>
                                <tr>
                                    <% headers.forEach((heading) => { %>
                                        <td><%=row[heading]%></td>
                                    <%})%>
                                </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
        </div>
        </body>
</html>