<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/../public/css/main.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body class="mainBackground">
        <div>
            <h1>Biodiversity Museum</h1>
        </div>
